<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details id: {{ hero.id }}</h2>
  <div class="card">
    <div class="p-field p-grid">
      <label class="p-col-fixed" style="width: 100px" for="hero-name"
        >Hero name:
      </label>
      <input
        class="p-inputtext p-component"
        id="hero-name"
        [(ngModel)]="hero.name"
      />
    </div>
    <div class="p-field p-grid">
      <label for="hero-power" style="width: 100px" class="p-col-fixed"
        >Power:
      </label>
      <input
        id="hero-power"
        class="p-inputtext-sm p-component"
        [(ngModel)]="hero.power"
      />
    </div>
    <div class="p-field p-grid">
      <label for="hero-alterEgo" style="width: 100px" class="p-col-fixed"
        >Alter Ego:
      </label>
      <input
        id="hero-alterEgo"
        class="p-inputtext-sm p-component"
        [(ngModel)]="hero.alterEgo"
      />
    </div>
  </div>

  <button type="button" (click)="goBack()">Go back</button>
</div>
